/* for navbar content is necessary but empty b/c no content needed acts like ghost element */
body::before {
  display: block;
  content: '';
  height: 60px;
}
/* for width and height of mapbox */
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* to reduce size of input until medium breakpoint */
@media(min-width: 768px) {
  .email-input {
    width: 50%;
  }
}
